{% extends "base.html.twig" %}


{% block body %}

	<div class="flex flex-col items-center justify-center min-h-screen bg-gray-950 gap-8">
		<div class="relative w-24 h-24">
			<div class="absolute inset-0 rounded-full border-4 border-secondary"/>
			<div class="absolute inset-0 rounded-full border-4 border-primary border-t-transparent animate-spin"/>
		</div>
	</div>

{% endblock %}
